<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="login&register.css">
    <link rel="stylesheet" href="sl.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            <h4 class="font-bold">DREAM<span>Sports Academy</span></h4>
        </div>
        <ul class="nav-links">
            <li><A href="#yullop" id="scroll2">About Us</A></li>
            <li><A href="#pos" id="scroll1">Contact Us</A></li>
            <li><A href="#bo" id="scroll">More</A></li>
            <li><A href="">Club</A></li>
        </ul>
    </nav>
    <div class="body">

        <div class="container1">
            <div class="title">Registration</div>
            <div class="content">
                <form action="/registerUser" method="POST">
                    <div class="user-details">

                        <div class="input-box">
                            <label class="details" for="username">Username</label>
                            <input type="text" placeholder="Enter your username" id="username" name="username" required>
                        </div>
                        <div class="input-box">
                            <label class="details" for="email">Email</span>
                                <input type="text" placeholder="Enter your email" id="email" name="email" required>
                        </div>

                        <div class="input-box">
                            <label class="details">Password</label>
                            <input type="password" placeholder="Enter your password" name="pswd" required>
                        </div>
                        <div class="input-box">
                            <label class="details">Confirm Password</label>
                            <input type="password" placeholder="Confirm your password" name="cpswd" required>
                        </div>
                    </div>


                    <button>Register
                    </button>

                </form>
            </div>
        </div>
    </div>
    <script>
        function shownav() {
            var x = document.getElementById("newnav");
            if (x.style.display == "none") {
                x.style.display = "flex";
            }
            else {
                x.style.display = "none";
            }
        }
    </script>
</body>

</html>